@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 550px;
    height: 550px;
    border-radius: 15%;
    border: 5px solid ;
}


nav{
    background-color: green;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: white;
    color: black;
}
.banner1 {
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('Guiné\ Bissau\ bandeiras.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto {
    color: black;
    font-size: 25px;
    font-weight: 200;
}


.desenvolvimento {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
.desenvolver {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
.gastronomia {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
    

.texto .botoes{
    margin-top: 30px;
}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
.texto .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
.texto .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.menu-icon{
    display: none;
    color:white;
    cursor: pointer;

}
.menu-mobile{
    background-color: green;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    transition: 0.4s;
}
.menu-mobile.ativo{
    left: 0;

}
.menu-mobile .icon-close{
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
/*VERSÃO RESPONSIVO*/
@media (max-width: 800px){
    .menu-desktop{
        display: none;

    }
    .menu-icon{
        display: block;
        font-size: 30px;
    }
    .menu-mobile li{
        margin: 20px 0;
    }
    .menu-mobile li a{
        font-size:  25px;

    }
    .texto .texto{
        font-size: 25px;
    }
    .texto .desenvolvimento{
        font-size: 25px;
    
    }
    .texto .gastronomia{
        font-size: 25px;
    
    }
    img {
        width: 225px;
        height: 225px;
        border-radius: 35%;
        border: 5px solid ;
    }
    video {
        width: 225px;
        height: 225px;
    }
    table{
        width: 40px;
        height: 40px;
    }


}