@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header, footer {
    background-color: #18929D;; /* Azul representando o turismo */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
} 
header nav a {
    padding: 10px 20px ;
    text-align: center;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    

}

img {
    width: 550px;
    height: 550px;
    border-radius: 35%;
    border: 5px solid ;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.banner1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
.desenvolvimento {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
.gastronomia {
    color: black;
    font-size: 25px;
    font-weight: 200;
}
    


.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
.texto .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
.texto .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}




/*VERSÃO RESPONSIVO*/
@media (max-width: 800px){
    .menu-desktop{
        display: none;

    }
    
    
    
    .texto .texto{
        font-size: 10px;
    }
    .texto .desenvolvimento{
        font-size: 10px;
    
    }
    .texto .gastronomia{
        font-size: 10px;
    
    }
    img {
        width: 225px;
        height: 225px;
        border-radius: 35%;
        border: 5px solid ;
    }
    
    .table{
        width: 5%;
        height: 5%;
    }


}
